<a   class="btn btn-default inline-flex items-center text-xs" (click)="openModal()">
    <i class="bi bi-pencil-fill mr-1"></i>
</a>
<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Produit</h4>

                <button type="button" class="btn btn-default" aria- label="Close" (click)="closeModal()"><span aria-
                        hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <template *ngTemplateOutlet="formBook"></template>
            </div>
            


        </div>
    </div>
</div>
<!-- Form -->
<ng-template #formBook>
    <div  class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-50 backdrop-filter backdrop-blur-md">
        <!-- Center the modal content -->
        <div class="bg-white p-8 rounded-md shadow-md  w-96  h-4/5 overflow-y-auto">
          <form (ngSubmit)="updateAuth()">
            <div class="flex justify-end">
                <button type="button" class="text-gray-500 ml-2" (click)="closeModal()">
                  <i class="bi bi-x-circle"></i>
                </button>
              </div>
              <div class="mb-3">
                <label class="text-gray-400"  for="">Name</label><br>
                <input required="true" type="text" class="w-full px-4 py-2 border rounded-md focus:outline-none" id="nomauteur" name="nomauteur" placeholder="Name" [(ngModel)]="Auth.nomauteur">
              </div>
        
              <div class="mb-3">
                <label class="text-gray-400"  for="">Email</label><br>
                <input required="true" type="text" class="w-full px-4 py-2 border rounded-md focus:outline-none" id="Email" name="Email" placeholder="Email" [(ngModel)]="Auth.email">
              </div>
        
              <div class="mb-3">
                <label class="text-gray-400" for="">Phone number</label><br>
                <input required type="number" class="w-full px-4 py-2 border rounded-md focus:outline-none" id="numtel" name="numtel" placeholder="Phone number" [(ngModel)]="Auth.numtel">
              </div>
      
           
           
               
              
              <div class="flex justify-center">
                <button  type="submit" class="bg-gradient-to-r from-green-500 to-black text-white px-4 py-2 rounded-md">Save</button>
              </div>
            
          </form>
        </div>
      </div>
</ng-template>